#submit {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2147483647;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 32px;
    padding: 8px 32px;
    border-radius: 32px;
    min-height: 53px;
}

#submit:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
